<div class="content">
    <h2> Organization: {{org}}</h2>
    <p></p>
    <button [disabled]="inEditingMode()" class="pure-button pure-button-primary top-button" (click)="openNewForm()">
        New
    </button>
    Daily quiz:
    <button class="pure-button pure-button-primary top-button" (click)="chooseRandomPeople()">Choose random</button>
    <button class="pure-button pure-button-primary top-button" (click)="useSelectedPeople()">Use selections below</button>
    <span class="feedback">{{feedback}}</span>
    <div *ngIf="newFormOpen">
        <form class="pure-form">
            <fieldset>
                <legend>Add information for the new person:</legend>
                <input type="text" placeholder="First name" name="first" [(ngModel)]="newPerson.firstName">
                <input type="text" placeholder="Last name" name="last" [(ngModel)]="newPerson.lastName">
                <input type="text" placeholder="Nick name" name="nick" [(ngModel)]="newPerson.nickName">
                <label>Image file:</label>
                <input type="file" placeholder="picture" accept="image/*" name="image" (change)="selectFile($event)">
                <button class="pure-button pure-button-primary" (click)="applyNew()">Apply</button>
                <button class="pure-button pure-button-primary" (click)="cancelNew()">Cancel</button>
            </fieldset>
        </form>
    </div>
    <p></p>
    <table class="pure-table pure-table-horizontal pure-table-striped">
        <thead>
            <th></th>
            <th>First name</th>
            <th>Last name</th>
            <th>Nick name</th>
            <th>Image</th>
            <th>{{editingLine === -1 ? 'Edit' : 'Apply'}}</th>
            <th>Del</th>
        </thead>
        <tr *ngFor="let p of people; let i = index">
            <td>
                <input type="checkbox" [checked]="isSelectionBoxChecked(i)" [(ngModel)]="checks[i]">
            </td>
            <td>
                <input *ngIf="editingLine === i" value={{p.firstName}}
                  name="firstName" (change)="applyPersonEdit($event)">
                <span *ngIf="editingLine !== i">{{p.firstName}}</span>
            </td>
            <td>
                <input *ngIf="editingLine === i" value={{p.lastName}}
                  name = "lastName" (change)="applyPersonEdit($event)">
                <span *ngIf="editingLine !== i">{{p.lastName}}</span>
            </td>
            <td>
                <input *ngIf="editingLine === i" value={{p.nickName}}
                  name = "nickName" (change)="applyPersonEdit($event)">
                <span *ngIf="editingLine !== i">{{p.nickName}}</span>
            </td>
            <td><img width="30px" [src]="p.imageData"></td>
            <td>
                <button [disabled]="editingLine !== -1 && editingLine !== i" (click)="editPerson(i)">
                    <ion-icon name="create"></ion-icon>
                </button>
            </td>
            <td>
                <button [disabled]="inEditingMode()" (click)="deletePerson(i)">
                    <ion-icon name="trash-outline"></ion-icon>
                </button>
            </td>
        </tr>
    </table>
</div>