.content {
    margin-left: 1em;
}

fieldset > * {
    margin-right: 2px;
}

.feedback {
    margin-left: 8px;
}

.top-button {
    margin-right: 8px;
}

.main-table {
    overflow: scroll;
    height: 40em;
}